<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rssfeed"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.rssfeed.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.TranslucentActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.rssfeed.ListaFragment"
            android:label="@string/title_activity_lista_fragment" >
        </activity>
        <activity
            android:name="com.example.rssfeed.PullToRef"
            android:label="@string/title_activity_pull_to_ref" >
        </activity>
    </application>

</manifest>
